<article class="user">
    <div class="user-content">
        <p class="user-attribution">
            <a href="/user/{{userName}}">{{userName}}</a>
        </p>
    </div>
    <div class="user-icon">
        <i class="fas fa-user-secret"></i>
    </div>
</article>