{{>header}}

<main class="error-container">  

<!-- Side note: I'm trying to find out what class this belongs to so "error-container" is just a placeholder, change it if you know which one it is -->

	<h2>404 Error</h2>
	<h3>Sorry, we couldn't find the page you were looking for.</h3>
	
</main>