{{> header}}

<main class="user-container">

{{#each users}}
    {{> user}}
{{/each}}

</main>
<!-- Test users
<article class="user">
<div class="user-content">
<p class="user-attribution">
<a href="#">User 1</a>
</p>
</div>
<div class="user-icon">
<i class="fas fa-user-secret"></i>
</div>
</article>

<article class="user">
<div class="user-content">
<p class="user-attribution">
<a href="#">User 2</a>
</p>
</div>
<div class="user-icon">
<i class="fas fa-kiwi-bird"></i>
</div>
</article>

<article class="user">
<div class="user-content">
<p class="user-attribution">
<a href="#">User 3</a>
</p>
</div>
<div class="user-icon">
<i class="fas fa-rocket"></i>
</div>
</article>

<article class="user">
<div class="user-content">
<p class="user-attribution">
<a href="#">User 4</a>
</p>
</div>
<div class="user-icon">
<i class="fas fa-user-graduate"></i>
</div>
</article>
-->