<!DOCTYPE html>
<html>

    <head>
        <meta charset = "utf-8">
        <title>{{userName}}'s Page</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
        <link rel="stylesheet" href="style.css">

        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" defer>
        </script>
        <script src="index.js" charset="utf-8" defer></script>
    </head>

    <body>
        <header>
            <a href="#"><h1 class="site-title"><i class=""></i>My Media List</h1></a>
            <h2 id="user-name">{{userName}}</h2>
        </header>

        <main id="list-container">
            <ul id="item-list">
                <!--This is where to insert new list item-->
            </ul>
        </main>

        <!--MODAL STUFF-->

        <div id="modal-backdrop" class="hidden"></div>
        <div id="creation-modal" class="hidden">
            <form>
                <div class="modal-text">Media Name:</div>
                <input type="text" id="media-name-input">

                <div class="modal-text">Review:</div>
                <input type="text" id="review-input">

                <div class="modal-text">Score:</div>
                <input type="text" id="score-input">

                <br>

                <input type="submit" value="Submit">
            </form>
        </div>
        
        <br>

        <a href="#"><button id="create-item-button">+</button></a>
    </body>

</html>