/* CSS sheet for all html files */

.center {
	margin: auto;
	width: 50%;
	border: 3px;
	padding: 10px;
}

.site-title {
	display: flex;
	justify-content: center;
	margin: 15px 15px;
	font-size: 60px;
	font-weight: 600;
	/* background-color: ; */
	color: #FFFFFF;
}

.hidden {
	display: none;
}

body {
	font-family: Roboto, Helvetica, Sans-Serif;
	/* color: ; */
	background-color: #222222;
}

a {
	text-decoration: none;
}

a:hover {}

/* Home Page */
.navbar {
	background-color: #222222;
	font-size: 20px;
	border-top: 3px solid #4c4c4c;
	border-bottom: 2px solid #4c4c4c;
	border-radius: 20px;
}

.nav-item {
	display: inline-block;
	color: #f53229;
	font-weight: 400;
	margin-right: 50px;
}

.nav-item a {
	display: inline-block;
	color: #f53229;
}

.active, nav-item a:hover { 
	border-bottom: 3px solid #f53229; /* Here to underline current selected tab on home page */
}

/* all my code from assignment 2's search bar start */

.nav-item.navbar-search {
  display: inline-block;
	margin: 0px;
	float: right;
  text-align: right;
}

#navbar-search-input {
	background-color: lightgray;
	outline: none;
	text-decoration: none;
	height: 20px;
}

#navbar-search-input:focus {
	background-color: #FFFFFF;
	outline: none;
	outline-width: none;
}

#navbar-search-button:hover {
	color: #f53229;
}

/* code end. Need to know if we are using the fas fa-search stuff and needs to be implemented into the index.html for use */

.user-container {
	margin: 60px 5%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.user{
	flex: 0 2 20%;
	display: flex;
	border: 2px solid #4c4c4c;
	border-radius: 1px;
	margin: 7px;
	padding: 15px;
}

.user-icon {
	font-size: 34px;
	color: #FFFFFF;
	padding-right: 6%;
}

.user-icon a{
	font-weight: 500;
	color: #FFFFFF;
	text-decoration: none;
 }  

.user-content .user-attribution {
	margin-top: 6px;
	text-align: left;
	font-weight: bold;
}

.user-text {
	margin: 0px;
	color: #f53229; /* testing different red, it's good */
	font-weight: 400;
	width: 290px;
	margin-bottom: 10px;
}

/*  UserPage  */

#user-name {
	font-size: 26px;
	color: #DB1C03;
}

#item-list {

}

.list-item {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	border: 2px solid #4c4c4c;
	margin: 7px;
	padding: 5px;
	height: 100px;
}

.media-name {
	font-size: 26px;
	font-weight: 500;
	color: #FFFFFF;
}

.media-score {
	font-size: 26px;
	font-weight: 500;
	color: #f53229;
}

/* modal stuff */
#modal-backdrop {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.90);
}


#creation-modal {
	position: fixed;
	overflow: scroll;
}

#modal-submit {

}

#modal-submit:hover {

}

#create-item-button {
	position: fixed;
	/*
	color: ;
	background-color: ;
	*/
	bottom: 10%;
	right: 10%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.30);
}

#name-input {}

#review-input {}

#score-input {}


/* Error 404 stuffs */

.error-container {
	margin-top: 150px;
	text-align: center;
}

.error-container h2 {
	margin: 10px 0;
	font-size: 96px;
	font-weight: 100;
}

.error-container h3 {
	margin:10px 0;
	font-size: 36px;
	font-weight: 400;
}

.404-title {
	display: flex;
	justify-content: center;
	margin: 15px 15px;
	font-size: 60px;
	font-weight: 600;
	color: #FFFFFF;
}

.404-text {
	display: flex;
	justify-content: center;
	margin: 15px 15px;
	font-size: 40px;
	font-weight: 300;
	color: #FFFFFF;
}
